<div id="RefineSearch" class="floatleft">
	<div id="advanced_up">
		<div id="advancedicon"><img width="26" height="23" class="floatleft" src="/images/cityicon.png"></div>
		<div class="advanced_title" id="atitle">Advance Search</div>
	</div>
	<div id="advanced_mid">
		<div class="mid1">
			<div id="Advance_search">
				<form enctype="application/x-www-form-urlencoded" method="get" action="" name='advsearchform'>
					<dl class="advsearch_form">
						<dt id="bathrooms-label"><label for="bathrooms" class="optional">BATHS</label></dt>
						<dd id="bathrooms-element">
							<%= select_tag "bathrooms", options_for_select([['1 or more', 1], ['2 or more', 2], ['3 or more', 3], ['4 or more', 4], ['5 or more', 5], ['6 or more', 6], ['7 or more', 7]]), :selected => params[:pid] %>
						</dd>
						<dt id="ltype-label"><label for="ltype" class="optional">Property Type</label></dt>
						<dd id="ltype-element">
							<select name="ltype" id="ltype">
							    <option value="" label="-- select --">-- select --</option>
							    <option value="AnyType" label="Any Type">Any Type</option>
							    <option value="Residential" label="Residential" selected="selected">Residential</option>
							    <option value="Commercial" label="Commercial">Commercial</option>
							    <option value="Land" label="Land">Land</option>
							</select>
						</dd>
						<dt id="state-label"><label for="state" class="optional">STATE OR PROVINCE</label></dt>
						<dd id="state-element">
							<select name="state" id="state">
							    <option value="" label="-- select --">-- select --</option>
							    <option value="AL" label="Alabama">Alabama</option>
							    <option value="AK" label="Alaska">Alaska</option>
							    <option value="AZ" label="Arizona">Arizona</option>
							    <option value="AR" label="Arkansas">Arkansas</option>
							    <option value="CA" label="California">California</option>
							    <option value="CO" label="Colorado">Colorado</option>
							    <option value="CT" label="Connecticut">Connecticut</option>
							    <option value="DE" label="Delaware">Delaware</option>
							    <option value="DC" label="District Of Columbia">District Of Columbia</option>
							    <option value="FL" label="Florida">Florida</option>
							    <option value="GA" label="Georgia">Georgia</option>
							    <option value="HI" label="Hawaii">Hawaii</option>
							    <option value="ID" label="Idaho">Idaho</option>
							    <option value="IL" label="Illinois">Illinois</option>
							    <option value="IN" label="Indiana">Indiana</option>
							    <option value="IA" label="Iowa">Iowa</option>
							    <option value="KS" label="Kansas">Kansas</option>
							    <option value="KY" label="Kentucky">Kentucky</option>
							    <option value="LA" label="Louisiana">Louisiana</option>
							    <option value="ME" label="Maine">Maine</option>
							    <option value="MD" label="Maryland">Maryland</option>
							    <option value="MA" label="Massachusetts">Massachusetts</option>
							    <option value="MI" label="Michigan">Michigan</option>
							    <option value="MN" label="Minnesota">Minnesota</option>
							    <option value="MS" label="Mississippi">Mississippi</option>
							    <option value="MO" label="Missouri">Missouri</option>
							    <option value="MT" label="Montana">Montana</option>
							    <option value="NE" label="Nebraska">Nebraska</option>
							    <option value="NV" label="Nevada">Nevada</option>
							    <option value="NH" label="New Hampshire">New Hampshire</option>
							    <option value="NJ" label="New Jersey">New Jersey</option>
							    <option value="NM" label="New Mexico">New Mexico</option>
							    <option value="NY" label="New York">New York</option>
							    <option value="NC" label="North Carolina">North Carolina</option>
							    <option value="ND" label="North Dakota">North Dakota</option>
							    <option value="OH" label="Ohio">Ohio</option>
							    <option value="OK" label="Oklahoma">Oklahoma</option>
							    <option value="OR" label="Oregon">Oregon</option>
							    <option value="PA" label="Pennsylvania">Pennsylvania</option>
							    <option value="RI" label="Rhode Island">Rhode Island</option>
							    <option value="SC" label="South Carolina">South Carolina</option>
							    <option value="SD" label="South Dakota">South Dakota</option>
							    <option value="TN" label="Tennessee">Tennessee</option>
							    <option value="TX" label="Texas">Texas</option>
							    <option value="UT" label="Utah">Utah</option>
							    <option value="VT" label="Vermont">Vermont</option>
							    <option value="VA" label="Virginia">Virginia</option>
							    <option value="WA" label="Washington">Washington</option>
							    <option value="WV" label="West Virginia">West Virginia</option>
							    <option value="WI" label="Wisconsin">Wisconsin</option>
							    <option value="WY" label="Wyoming">Wyoming</option>
							</select>
						</dd>
						<dt id="county-label"><label for="county" class="optional">COUNTY</label></dt>
						<dd id="county-element">
							<select name="county" id="county">
							    <option value="" label="-- select --">-- select --</option>
							</select>
						</dd>
						<dt id="city-label"><label for="city" class="optional">CITY</label></dt>
						<dd id="city-element">
							<select name="city" id="city">
		    					<option value="" label="-- select --">-- select --</option>
							</select>
						</dd>
						<dt id="zipcode-label"><label for="zipcode" class="optional">ZIP CODE</label></dt>
						<dd id="zipcode-element">
							<input type="text" name="zipcode" id="zipcode" value="">
						</dd>
						<dt id="assetts-label"><label for="assetts" class="optional">ASSETS WITHIN</label></dt>
						<dd id="assetts-element">
							<select name="assetts" id="assetts">
							    <option value="" label="-- select --">-- select --</option>
							    <option value="1" label="1">1</option>
							    <option value="2" label="2">2</option>
							    <option value="3" label="3">3</option>
							    <option value="4" label="4">4</option>
							    <option value="5" label="5">5</option>
							    <option value="6" label="6">6</option>
							    <option value="7" label="7 or more">7 or more</option>
							</select>
						</dd>
						<dt id="bedrooms-label"><label for="bedrooms" class="optional">BEDS</label></dt>
						<dd id="bedrooms-element">
							<select name="bedrooms" id="bedrooms">
							    <option value="" label="Any">Any</option>
							    <option value="1" label="1">1</option>
							    <option value="2" label="2">2</option>
							    <option value="3" label="3">3</option>
							    <option value="4" label="4">4</option>
							    <option value="5" label="5">5</option>
							    <option value="6" label="6">6</option>
							    <option value="7" label="7 or more">7 or more</option>
							</select>
						</dd>
						<dt id="minyear-label"><label for="minyear" class="optional">Min Year</label></dt>
						<dd id="minyear-element">
							<input type="text" name="minyear" id="minyear" value=""></dd>
						<dt id="maxyear-label"><label for="maxyear" class="optional">Max Year</label></dt>
						<dd id="maxyear-element">
							<input type="text" name="maxyear" id="maxyear" value="">
						</dd>
						<dt id="propertyid-label"><label for="propertyid" class="optional">PROPERTY ID</label></dt>
						<dd id="propertyid-element">
							<input type="text" name="propertyid" id="propertyid" value="">
						</dd>
						<dt id="featured_homes-label"><label for="featured_homes" class="optional">FEATURED HOMES</label></dt>
						<dd id="featured_homes-element">
							<input type="hidden" name="featured_homes" value="0">
							<input type="checkbox" name="featured_homes" id="featured_homes" value="1">
						</dd>
						<dt id="refine_search-label">&#160;</dt><dd id="refine_search-element">
						<button name="refine_search" id="refine_search" type="submit"></button></dd>
						<dt id="start_over-label">&#160;</dt>
						<dd id="start_over-element">
							<button name="start_over" id="start_over" type="submit">start over</button>
						</dd>
					</dl>
				</form>
			</div>
		</div>
		<div id="advanced_bottom"></div>
	</div>
					
	<div class="leftbox">
		<div class="leftbox_up">
			<div class="advanced_title">City Attractions </div>
		</div>
		<div class="leftbox_mid">
			<div style="padding-top:10px;">
				<div class="orangenewtext" style="padding-left:10px; padding-bottom:10px;">History</div>
				<div class="mid2" style="padding-left:10px;border:0px;"><img width="156" src="/images/history.png"></div>
				<div class="mid2" style="padding-left:10px; border:0px; padding-top:10px;">The Capture Preview window is an easy way to preview a capture before it is saved to a file or inserted</div>			
				<div class="mid2" style="padding-left:10px;border:0px; padding-top:10px;"><img width="86" height="24" src="/images/readmore_btn.png"></div>
			</div>
			<div class="mid2"></div>
			<div style="padding-top:10px;">
				<div class="orangenewtext" style="padding-left:10px; padding-bottom:10px;">Restaurants</div>
				<div class="mid2" style="padding-left:10px;border:0px;"><img width="156" src="/images/restaurant.png"></div>
				<div class="mid2" style="padding-left:10px; border:0px; padding-top:10px;">The Capture Preview window is an easy way to preview a capture before it is saved to a file or inserted</div>
				<div class="mid2" style="padding-left:10px;border:0px; padding-top:10px;"><img width="86" height="24" src="/images/readmore_btn.png"></div>
			</div>
			<div class="mid2"></div>
			<div style="padding-top:10px;">
				<div class="orangenewtext" style="padding-left:10px; padding-bottom:10px;">Population</div>
				<div class="mid2" style="padding-left:10px;border:0px;"><img width="156" src="/images/peopel.png"></div>
				<div class="mid2" style="padding-left:10px; border:0px; padding-top:10px;">The Capture Preview window is an easy way to preview a capture before it is saved to a file or inserted</div>
				<div class="mid2" style="padding-left:10px;border:0px; padding-top:10px;"><img width="86" height="24" src="/images/readmore_btn.png"></div>
			</div>
		</div>
		<div class="leftbox_bottom"></div>
	</div>
	
	<div class="leftbox">
		<div class="reab"><img width="187" height="409" src="/images/citybox_ad1.png"></div>
	</div>
					
	<div class="leftbox">
		<div class="reab"><img width="187" height="249" src="/images/citybox_ad2.png"></div>
	</div>
					
</div>