<div id="right_panel">
			
	<div class="rightpanel1">
		<div class="rightbox_top">
			<div class="advanced_title">Map of St. Louis</div>
		</div>
		<div class="rightbox_mid">
			<div class="map">
				<img width="240" height="227" src="/images/googlemap.png" />
			</div>
		</div>
		<div class="rightbox_bottom"></div>
	</div>
			
	<div class="rightpanel1">
		<div class="rightbox_top">
			<div class="advanced_title1">Our St. Louis Office</div>
		</div>
		<div class="rightbox_mid">
			<div class="map">The Capture Preview window is an easy way to preview a capture before it is saved to a file or inserted into your document or e-mail. But, the Capture Preview</div>
		</div>
		<div class="rightbox_bottom"></div>
	</div>
			
	<div class="rightpanel1">
		<img width="260" height="206" src="/images/upcoming.png" />
	</div>
			
	<div class="rightpanel1">
		<div class="rightbox_top">
			<div class="advanced_title1">Meet Our Bank REO Experts </div>
		</div>
		<div class="rightbox_mid">
			<div class="map">
				<div class="auction_experts">
					<img width="98" height="116" src="/images/auction_experts.png">
				</div>
				<div class="auction_experts1">The Capture Preview window is an easy way to preview a capture before it is saved to a file or inserted into your document or e-mail. But, the Capture Preview</div>
			</div>
		</div>
		<div class="rightbox_bottom"></div>
	</div>
			
	<div class="rightpanel1">
		<div class="rightbox_top">
			<div class="advanced_title">Video</div>
		</div>
		<div class="rightbox_mid">
			<div class="map"><img width="240" height="174" src="/images/videoip.png"></div>
		</div>
		<div class="rightbox_bottom"></div>
	</div>
			
	<div class="rightpanel1">
		<img width="260" height="123" src="/images/add2.png">
	</div>
			
	<div class="rightpanel1">
		<div class="rightbox_top">
			<div class="advanced_title1">Local REO News</div>
		</div>
		<div class="rightbox_mid">
			<div class="map">
				<ul id="city_news">
					<li>The Capture Preview window is an easy way to preview a capture before it is </li>
					<li>The Capture Preview window is an easy way to preview a capture before it is </li>
					<li>The Capture Preview window is an easy way to preview a capture before it is </li>
				</ul>
			</div>
			<div class="news_readmore">
				<a href="#">Read more...</a>
			</div>
		</div>
		<div class="rightbox_bottom"></div>
	</div>
	
	<div class="rightpanel1">		
		<div class="rightbox_top"><div class="advanced_title1">Market Info</div></div>
		<div class="rightbox_mid">
	    	<div class="map">
          		<div class="arizona">ARIZONA</div>
          		<div class="arazon_head">Closed Sales</div>
          		<div class="arizona_c">
          			<div class="arzona_m">
          				<div class="ari_left">Median Price</div>
          				<div class="ari_right">$89,000</div>
          			</div>
          			<div class="arzona_m">
          				<div class="ari_left"> Q3-10</div>
          				<div class="ari_right1">-15.2% <span class="ari_right2">(prior quarter)</span></div>
          			</div>
          		</div>
				<div class="arizona_c">
           			<div class="arzona_m">
	          			<div class="ari_left"># of closings</div>
	          			<div class="ari_right">5,836</div>
		     		</div>
            		<div class="arzona_m">
          				<div class="ari_left"> Q3-10</div>
          				<div class="ari_right1">-18.0% <span class="ari_right2">(prior quarter)</span></div>
          			</div>
          		</div>
          		<div class="arizona_c">
           			<div class="arzona_m">
          				<div class="ari_left">avg price/sq.ft.</div>
          				<div class="ari_right">$90.74</div>
          			</div>
            		<div class="arzona_m">
          				<div class="ari_left"> Q3-10</div>
          				<div class="ari_right1">-18.0% <span class="ari_right2">(prior quarter)</span></div>
          			</div>
          		</div>
          		<div class="arazon_head" style="margin-top:8px;">Current Listing</div>
          		<div class="arizona_c">
           			<div class="arzona_m">
          				<div class="ari_left">Median Price</div>
          				<div class="ari_right">$89,000</div>
          			</div>
            		<div class="arzona_m">
          				<div class="ari_left"> Q3-10</div>
          				<div class="ari_right1">-15.2% <span class="ari_right2">(prior quarter)</span></div>
          			</div>
          		</div>
          
           		<div class="arizona_c">
           			<div class="arzona_m">
          				<div class="ari_left"># of closings</div>
          				<div class="ari_right">5,836</div>
          			</div>
            		<div class="arzona_m">
          				<div class="ari_left"> Q3-10</div>
          				<div class="ari_right1">-18.0% <span class="ari_right2">(prior quarter)</span></div>
          			</div>
          		</div>
          
           		<div class="arizona_c">
           			<div class="arzona_m">
          				<div class="ari_left">avg price/sq.ft.</div>
          				<div class="ari_right">$90.74</div>
          			</div>
            		<div class="arzona_m">
          				<div class="ari_left"> Q3-10</div>
          				<div class="ari_right1">-18.0% <span class="ari_right2">(prior quarter)</span></div>
          			</div>
          		</div>		 
	        </div>
		</div>
		<div class="rightbox_bottom"></div>
	</div>
</div>
