

			
			
			<div id="leftcontentbox1" style="margin-top:17px;">
				<div id="leftcontentbox1">
					<div id="lefttoolbox">
						<div id="toolbox" style="padding-top:8px">
							<div id="toolboxcontent" align="center">
								<img src="/images/icon1.png">
							</div>
							<div id="toolboxcontent" align="center">
								<a href="/brochure-request">Brochure Request</a>
							</div>
						</div>
						<div id="toolbox" style="padding-top:5px">
							<div id="toolboxcontent" align="center">
								<div align="center"><img width="65" height="45" src="/images/icon2.png"></div>
							</div>
							<div id="toolboxcontent" align="center"><a href="/financing">Financing</a></div>
						</div>
						<div id="toolbox" style="padding-top:8px">
							<div id="toolboxcontent" align="center">
								<div align="center"><img width="53" height="48" src="/images/icon3.png"></div>
							</div>
							<div id="toolboxcontent" align="center"><a href="/tools">Tools</a></div>
						</div>
						<div id="toolbox" style="padding-top:5px">
							<div id="toolboxcontent" align="center">
								<div align="center">
									<a href="/users/sign_up"><img border="0" src="/images/icon4.png"></a>
								</div>
							</div>
							<div id="toolboxcontent" align="center">
								<a href="/users/sign_up">Register Here</a>
							</div>
						</div>
					</div>
					<div id="righttoolbox">
						<div id="toolconetnt">
						
							<div id="toolbox1">
								<div id="bluetitle" style="padding-bottom:15px;">Who We Are?</div>
								<div id="bluecontent"><p>
									When most people think of auctions they think of buying but in order to buy, someone must be.</p>
								</div>
								    
								<div id="button">
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td width="52%" valign="top" align="left">
													<img width="66" height="54" src="/images/body_icon2.png">
												</td>
												<td width="48%" valign="top" align="left" style="padding-top:25px;">
													<a href="">
														<img width="86" height="24" border="0" src="/images/readmore_btn.png">
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
							
							<div id="toolbox1" style="border:0px none; padding-left:16px; width:180px">
								<div id="bluetitle">See Properties Before General Public</div>
								<div id="bluecontent">When most people think of auctions they think of buying but in order to buy, someone must be </div>
								<div id="button" align="right">
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td width="52%" valign="top" align="left">
													<img width="65" height="65" src="/images/body_icon1.png">
												</td>
												<td width="48%" valign="top" align="left" style="padding-top:25px;">
													<a href="#">
														<img width="86" height="24" border="0" src="/images/readmore_btn.png">
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
							<div id="toolcontent"><img width="403" height="23" src="/images/separator1.png"></div>
							
							
							<div id="toolconetnt">
								<div id="toolbox1">
									<div id="bluetitle" style="padding-bottom:10px;">FAQs</div>
									<div id="bluecontent">When most people think of auctions they think of buying but in order to buy, someone must be.</div>
									<div id="button" align="right">
										<table width="100%" cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td width="52%" valign="top" align="left" style="padding-top:8px">
														<span style="padding-top:5px;"><img width="51" height="46" src="/images/body_icon4.png"></span>
													</td>
													<td width="48%" valign="top" align="left" style="padding-top:25px;">
														<a href="#"><img width="86" height="24" border="0" src="/images/readmore_btn.png"></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
								
								<div id="toolbox1" style="border:0px none; padding-left:16px; width:180px">
									<div id="bluetitle" style="padding-bottom:10px;">How to Sell</div>
									<div id="bluecontent">When most people think of auctions they think of buying but in order to buy, someone must be </div>
									<div id="button" align="right">
										<table width="100%" cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td width="52%" valign="top" align="left"><img width="55" height="55" src="/images/body_icon3.png"></td>
													<td width="48%" valign="top" align="left" style="padding-top:25px;">
														<a href="#"><img width="86" height="24" border="0" src="/images/readmore_btn.png"></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
				<div id="leftcontentbox2">
					<div id="bluebox">
						<%= render :partial => "widgets/bankreonews" %>
						
						<%= render :partial => "widgets/bankreoblog" %>
						
						<%= render :partial => "widgets/bankreovideo" %>
					</div>
					
					<div id="bluebox1" style="border-bottom:1px solid #CCCCCC">
					
						
						<div id="blueinnerbox1" style="padding-left:10px;">
							<div id="bbluetitle1">Bank REO Benefits</div>
							<div id="bbluecontent1">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td width="65%" valign="top" align="left">Auctions held by RealEstateAuctions.com are the most exciting and productive way to purcRealEstateAuctions.com are the most exciting and productive way to purc......</td>
											<td width="35%" valign="top" align="left"><img width="86" height="96" src="/images/buyer1.png"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="bbutton1" align="right">
								<a href="#"><img width="86" height="24" border="0" src="/images/readmore_btn.png" /></a>
							</div>
						</div>
						
						
						<div id="blueinnerbox2">
							<div id="bbluetitle2">Our Bank REO Community</div>
							<div id="bbluecontent2">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td width="62%" valign="top" align="left">Auctions held by RealEstateAuctions.com are the most exciting and productive way to purcRealEstateAuctions.com are the most exciting and productive way to purc......</td>
											<td width="38%" valign="top" align="left">
												<img width="104" height="89" src="/images/community1.png" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="bbutton2" align="right" style="padding-top:6px;">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td width="64%">&nbsp;</td>
											<td width="36%">
												<a href="#"><img width="86" height="24" border="0" src="/images/readmore_btn.png" /></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
						
					<%= render :partial => "widgets/topreomarkets" %>
					<div id="bluebox1" align="center"><img width="550" height="82" src="/images/add.png"></div>
				</div>
			</div>
