<div id="blueinnerbox" style="padding-left:8px">
	<div id="bbluetitle">Video</div>
	<div id="bbluecontent">
		<table width="100%" cellspacing="0" cellpadding="2" border="0">
			<tbody>
				<tr>
					<td valign="top" align="left" colspan="2">
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td><img width="105" height="66" src="/images/video1.png"></td>
								</tr>
								<tr>
									<td>Auctions held by RealEstateAuctions.com are the most exciting and productive way to purc....</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td width="7%" valign="top" align="left">&nbsp;</td>
					<td width="93%" align="right" style="padding-top:5px;">
						<a href="index.php?menu=VIDEO"><img width="86" height="24" border="0" src="/images/readmore_btn.png"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>