<div id="blueinnerbox">
	<div id="bbluetitle">Bank REO News</div>
	<div id="bbluecontent">
		<table width="100%" cellspacing="0" cellpadding="2" border="0">
			<tbody>
				<tr>
					<td valign="top" align="left">
						<img width="7" height="9" src="/images/bluearrow.png" />
					</td>
					<td>Taking part in an event held by Bank REO</td>
				</tr>
				<tr>
					<td valign="top" align="left">
						<img width="7" height="9" src="/images/bluearrow.png" />
					</td>
					<td>Taking part in an event held by Real estate Auction</td>
				</tr>
				<tr>
					<td valign="top" align="left">&nbsp;</td>
					<td align="right" style="padding-top:5px;">
						<a href="index.php?menu=NEWS"><img width="86" height="24" border="0" src="/images/readmore_btn.png" /></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>