<div class="floatleft" style="height: 240px">
	<div id="featuredheader"><h3>Featured <span id="featuredheader_blue">Bank REOs</span></h3></div>
	<div id="featuredWrapper" class="floatleft">
		<div id='featuredProperties'>
			<div class="featured_nav floatleft"><img src="/images/arrow_left.png" /></div>
			<div class='featuredProperty'>
				<img border="0" src="/images/pic1.png" class="featuredimage" />
				<p class='featuredPropertyLocation'>Location, Location</p>
				<p class='featuredPropertyBidInfo'>Starting bid: $249,900</p>
				<div style="width: 100%"><img width="73" height="23" src="/images/buynow_btn.png" class="featuredimage" /></div>
			</div>
			<div class='featuredProperty'>
				<img border="0" src="/images/pic1.png" class="featuredimage" />
				<p class='featuredPropertyLocation'>Location, Location</p>
				<p class='featuredPropertyBidInfo'>Starting bid: $249,900</p>
				<div style="width: 100%"><img width="73" height="23" src="/images/buynow_btn.png" class="featuredimage" /></div>
			</div>
			<div class='featuredProperty'>
				<img border="0" src="/images/pic1.png" class="featuredimage" />
				<p class='featuredPropertyLocation'>Location, Location</p>
				<p class='featuredPropertyBidInfo'>Starting bid: $249,900</p>
				<div style="width: 100%"><img width="73" height="23" src="/images/buynow_btn.png" class="featuredimage" /></div>
			</div>
			<div class='featuredProperty'>
				<img border="0" src="/images/pic1.png" class="featuredimage" />
				<p class='featuredPropertyLocation'>Location, Location</p>
				<p class='featuredPropertyBidInfo'>Starting bid: $249,900</p>
				<div style="width: 100%"><img width="73" height="23" src="/images/buynow_btn.png" class="featuredimage" /></div>
			</div>
			<div class="featured_nav floatleft"><img src="/images/arrow_right.png" /></div>   
		</div>
	</div>
</div>