<div id="headercontent">
		<div id="topleft">
			<div id="logo"><a href="/"><img src="/images/logot.png" alt="BankReos.com"></img></a></div>
		</div>
		<div id="topright">
			<div id="toptoolbar">
				<div id="smallbox"><img src="/images/signin_icon.png"></div>
				<div id="smallbox"><a class="signin" href="/users/sign_in">Sign-In</a></div>
				<fieldset id="signin_menu" style="display: none;">
					<form id="login_form" method="post" name="login_form">
				</fieldset>
				<div id="smallbox"><img src="/images/register_icon.png"></div>
				<div id="smallbox"><a href="/users/sign_up">Register</a></div>
				<div id="topsearchbox">
					<form style="padding:0px; margin:0px;" method="get" action="">
						<div id="box1"><input class="searchbtn" type="button" value=" "></div>
						<div id="box2"><input id="smallbox" class="searchbox" type="text" onblur="this.value='Search your keyword.'" onfocus="this.value=''" value="Search your keyword."></div>
					</form>
				</div>
			</div>
			<div id="topiconbar">
			<div id="iconsmallbox" style="width:146px"><h3>(877) 627-5670</h3></div>
			<div id="iconsmallbox"><img height="21" width="22" src="/images/icon1.png" /></div>
			<div id="iconsmallbox"><img height="21" width="22" src="/images/icon2.png" /></div>
			<div id="iconsmallbox"><img height="21" width="22" src="/images/icon3.png" /></div>
			<div id="iconsmallbox"><img height="21" width="22" src="/images/icon4.png" /></div>
			<div id="iconsmallbox"><img height="21" width="22" src="/images/icon5.png" /></div>
		</div>	
		<div id="chatbox">
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tbody>
					<tr>
						<td width="54%" valign="top" style="padding-top:0px"><img src="/images/france_home.png" /></td>
						<td width="46%" valign="top" rowspan="2"></td>
					</tr>
					<tr>
						<td width="54%" valign="top" style="padding-top:3px"><img src="/images/change_country.png" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>