<div id="basic_search">
	<form enctype="application/x-www-form-urlencoded" method="post" action="/find">
		<dl class="zend_form">
			<dt id="address-label">
				<label for="address" class="optional">Search Property</label>
			</dt>
			<dd id="address-element">
				<input type="text" name="address" id="address" value="Chicago" onfocus="javascript:if(this.value=='Enter a location,address,city and state or zip')this.value=''"><br />
				<div id='search-tips'>e.g. "chicago, il", "60613", "San Francisco, CA"</div>
			</dd>
			<dd id="property_type-element">
				<select name="property_type" id="property_type">
				    <option value="Residential" label="Residential">Residential</option>
	    			<option value="Commercial" label="Commercial">Commercial</option>
				</select>
			</dd>
			<dt id="homepage_submit-label">&#160;</dt>
			<dd id="homepage_submit-element">
				<input type="submit" name="homepage_submit" id="homepage_submit" value="">
			</dd>
		</dl>
	</form>
</div>