<div id="basic_search">
	<form enctype="application/x-www-form-urlencoded" method="get" action="/find">
		<dl class="zend_form">
			<dt id="address-label">
				<label for="location" class="optional">Search Property</label>
			</dt>
			<dd id="address-element">
				<input type="text" name="location" id="location" value="<%= params.has_key?('location') ? params[:location] : "Chicago, IL" %>" onfocus="javascript:if(this.value=='Enter a city and state or zip')this.value=''"><br />
				<div id='search-tips'>e.g. "chicago, il", "60613", "San Francisco, CA"</div>
			</dd>
			<dd id="property_type-element">
				<select name="property_type" id="property_type">
				    <option value="Residential" label="Residential">Residential</option>
	    			<option value="Commercial" label="Commercial">Commercial</option>
				</select>
			</dd>
			<dt id="homepage_submit-label">&#160;</dt>
			<dd id="homepage_submit-element">
				<button type="submit" style='float:right;padding:10px 14px;'>Search</button>
	  			<div class="spacer"></div>
			</dd>
		</dl>
	</form>
</div>