<div class="region region-navigation">
	<div class="content">
		<ul class="nice-menu nice-menu-down" id="nice-menu-1">
			<li><a href="#" title="Home">Home</a></li>
			<li><a href="/how-it-works" title="How it Works">How it Works</a>
				<ul>
					<li><a href="/how-it-works/buyers" title="Buyers">Buyers</a></li>
					<li><a href="/how-it-works/sellers" title="Sellers">Sellers</a></li>
				</ul>
			</li>
			<li><a href="/buyers" title="Buyers">Buyers</a>
				<ul>
					<li><a href="/buyers/consumer" title="Consumer">Consumer</a></li>
					<li><a href="/buyers/vip" title="VIP">VIP</a></li>
					<li><a href="buyers/investor" title="Investor">Investor</a></li>
					<li><a href="/buyers/fund" title="Fund">Fund</a></li>
					<li><a href="/buyers/international" title="International">International</a></li>
				</ul>
			</li>
			<li><a href="/sellers" title="Sellers">Sellers</a>
				<ul>
					<li><a href="/sellers/banks" title="Banks">Banks</a></li>
					<li><a href="/sellers/asset-managers" title="Asset Managers">Asset Managers</a></li>
					<li><a href="/sellers/listing-agents" title="Listing Agents">Listing Agents</a></li>
					<li><a href="/sellers/brokers" title="Brokers">Brokers</a></li>
					<li><a href="/sellers/law-firms" title="Law Firms">Law Firms</a></li>
					<li><a href="/sellers/developers" title="Developers">Developers</a></li>
					<li><a href="/sellers/reit-or-funds" title="REIT or Funds">REIT or Funds</a></li>
					<li><a href="/sellers/nfp" title="Non-Profit">Non-Profit</a></li>
					<li><a href="/sellers/title-companies" title="Title Companies">Title Companies</a></li>
				</ul>
			</li>
			<li><a href="/auctions" title="Auctions">Auctions</a>
				<ul>
					<li><a href="/auctions/real-estate-auctions" title="Real Estate Auctions">Real Estate Auctions</a></li>
				</ul>
			</li>
			<li><a href="/sponsors" title="Sponsors">Sponsors</a></li>
			<li><a href="/financing" title="Financing">Financing</a></li>
			<li><a href="/contact-us" title="Contact Us">Contact Us</a></li>
		</ul>
	</div>
</div>
