<div class="region region-navigation">
	<div class="content">
		<ul class="nice-menu nice-menu-down" id="nice-menu-1">
			<li><a href="#" title="Home">Home</a></li>
			<li><a href="#" title="How it Works">How it Works</a>
				<ul>
					<li><a href="#" title="Buyers">Buyers</a></li>
					<li><a href="#" title="Sellers">Sellers</a></li>
				</ul>
			</li>
			<li><a href="#" title="Buyers">Buyers</a>
				<ul>
					<li><a href="#" title="Consumer">Consumer</a></li>
					<li><a href="#" title="VIP">VIP</a></li>
					<li><a href="#" title="Investor">Investor</a></li>
					<li><a href="#" title="Fund">Fund</a></li>
					<li><a href="#" title="International">International</a></li>
				</ul>
			</li>
			<li><a href="#" title="Sellers">Sellers</a>
				<ul>
					<li><a href="#" title="Banks">Banks</a></li>
					<li><a href="#" title="Asset Managers">Asset Managers</a></li>
					<li><a href="#" title="Listing Agents">Listing Agents</a></li>
					<li><a href="#" title="Brokers">Brokers</a></li>
					<li><a href="#" title="Law Firms">Law Firms</a></li>
					<li><a href="#" title="Developers">Developers</a></li>
					<li><a href="#" title="REIT or Funds">REIT or Funds</a></li>
					<li><a href="#" title="Non-Profit">Non-Profilt</a></li>
					<li><a href="#" title="Title Companies">Title Companies</a></li>
				</ul>
			</li>
			<li><a href="#" title="Auctions">Auctions</a>
				<ul>
					<li><a href="#" title="Real Estate Auctions">Real Estate Auctions</a></li>
				</ul>
			</li>
			<li><a href="#" title="Sponsors">Sponsors</a></li>
			<li><a href="#" title="Financing">Financing</a></li>
			<li><a href="#" title="Contact Us">Contact Us</a></li>
		</ul>
	</div>
</div>
