<div id="rightbox1" style="padding-bottom:20px;">
	<div id="top1">MEET OUR BANK REO EXPERT</div>
	<div id="top2">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr>
					<td width="44%" valign="top" align="left"><img width="98" height="116" src="/images/auction_experts.png" /></td>
					<td class="blacktext1" width="56%" valign="top" align="left">Auctions held by RealEstateAuctions.com are the most exciting and productive way to purc....</td>
				</tr>
				<tr>
					<td valign="top" align="left">&nbsp;</td>
					<td valign="top" align="right">
						<a style="text-decoration:none;" href="MEET-OUR-BANK-REO-EXPERT">
							<div align="right" style="padding-top:6px;"><strong><span class="blacktext1">Read more.</span></strong>.</div>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="top3"></div>				
</div>