					<div id="bluebox1" style="margin-left:1px; ">
						<div id="marketboxtop" style="word-spacing:0px;">Top Bank REO Markets</div>
						<div id="marketboxmid">
							<ul>
								<li><a href="index.php?menu=city">Atlanta</a></li>
								<li><a href="index.php?menu=city">Austin</a></li>
								<li><a href="index.php?menu=city">Baltimore</a></li>
								<li><a href="index.php?menu=city">Boston</a></li>
								<li><a href="index.php?menu=city">Charlotte</a></li>
								<li><a href="index.php?menu=city">Chicago</a></li>
								<li><a href="index.php?menu=city">Cincinnati</a></li>
								<li><a href="index.php?menu=city">Cleveland</a></li>
								<li><a href="index.php?menu=city">Columbus</a></li>
								<li><a href="index.php?menu=city">Dallas</a></li>
							</ul>
							<ul>
								<li><a href="index.php?menu=city">Denver</a></li>
								<li><a href="index.php?menu=city">Detroit</a></li>
								<li><a href="index.php?menu=city">Hartford</a></li>
								<li><a href="index.php?menu=city">Houston</a></li>
								<li><a href="index.php?menu=city">Indianapolis</a></li>
								<li><a href="index.php?menu=city">Jacksonville</a></li>
								<li><a href="index.php?menu=city">Kansas City</a></li>
								<li><a href="index.php?menu=city">Las Vegas</a></li>
								<li><a href="index.php?menu=city">Los Angeles</a></li>
								<li><a href="index.php?menu=city">Louisville</a></li>
							</ul>
							<ul>
								<li><a href="index.php?menu=city">Memphis</a></li>
								<li><a href="index.php?menu=city">Miami</a></li>
								<li><a href="index.php?menu=city">Milwaukee</a></li>
								<li><a href="index.php?menu=city">Minneapolis</a></li>
								<li><a href="index.php?menu=city">Naples</a></li>
								<li><a href="index.php?menu=city">Nashville</a></li>
								<li><a href="index.php?menu=city">New Orleans</a></li>
								<li><a href="index.php?menu=city">New York-Newark</a></li>
								<li><a href="index.php?menu=city">Oklahoma</a></li>
								<li><a href="index.php?menu=city">Orlando</a></li>
							</ul>
							<ul style="padding-left:10px;">
								<li><a href="index.php?menu=city">Philadelphia</a></li>
								<li><a href="index.php?menu=city">Phoenix</a></li>
								<li><a href="index.php?menu=city">Pittsburgh</a></li>
								<li><a href="index.php?menu=city">Portland</a></li>
								<li><a href="index.php?menu=city">Providence</a></li>
								<li><a href="index.php?menu=city">Richmond</a></li>
								<li><a href="index.php?menu=city">Riverside</a></li>
								<li><a href="index.php?menu=city">Sacramento</a></li>
								<li><a href="index.php?menu=city">Salt Lake </a></li>
								<li><a href="index.php?menu=city">San Antonio</a></li>
							</ul>
							<ul style="padding-left:8px;">
								<li><a href="index.php?menu=city">San Diego</a></li>
								<li><a href="index.php?menu=city">San Jose</a></li>
								<li><a href="index.php?menu=city">SanFran</a></li>
								<li><a href="index.php?menu=city">Sarasota</a></li>
								<li><a href="index.php?menu=city">Seattle</a></li>
								<li><a href="index.php?menu=city">St.Louis</a></li>
								<li><a href="index.php?menu=city">Tampa/St.Pete</a></li>
								<li><a href="index.php?menu=city">Virginia Beach-Norfolk</a></li>
								<li><a href="index.php?menu=city">Washington DC.</a></li>
								<li><a href="index.php?menu=city">West Palm Beach</a></li>
							</ul>
						</div>
						<div id="marketboxbottom"></div>
					</div>